<div class="m-3">
  <label
    for="exampleFormControlInput1"
    class="form-label"
    style="color: rgb(74, 141, 7)"
    >Renk ara</label
  >
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    style="border-radius: 10px; border-color: rgb(74, 141, 7)"
    placeholder="Arama ifadesi giriniz"
  />
</div>
<div *ngIf="filterText.length > 2" class="alert-warning m-2">
  {{ filterText }} aranıyor...
</div>

<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <h5>RENK</h5>
  </li>
  <li
    (click)="setCurrentColor(color)"
    routerLinkActive="active"
    routerLink="/cars/color/{{ color.colorId }}"
    [class]="getCurrentColorClass(color)"
    *ngFor="let color of colors | filterColorPipe: filterText"
  >
    <h6>{{ color.colorName }}</h6>
  </li>

  <button
    routerLink="/cars"
    (click)="clearFilter()"
    type="button"
    aria-current="true"
    class="btn btn-outline-dark"
  >
    Filtreyi temizle
  </button>
</ul>
