<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-info"
    data-bs-toggle="modal"
    data-bs-target="#registerModal"
  >
    Kaydol
  </button>
</div>

<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  aria-labelledby="registerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModal">Kaydol</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <body class="text-center">
          <main class="form-register">
            <form [formGroup]="registerForm">
              <img
                class="mb-4"
                src="assets/images/Logo.png"
                alt=""
                width="300"
                height="190"
              />
              <h1 class="h3 mb-3 fw-normal">Kaydol</h1>

              <div class="form-floating">
                <input
                  formControlName="firstName"
                  type="text"
                  class="form-control"
                  id="firstname"
                  placeholder="First Name"
                />
                <label for="floatingInput">İsim</label>
              </div>

              <div class="form-floating">
                <input
                  formControlName="lastName"
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Last Name"
                />
                <label for="floatingInput">Soyisim</label>
              </div>

              <div class="form-floating">
                <input
                  formControlName="email"
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">E posta</label>
              </div>
              <div class="form-floating">
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                />
                <label for="floatingPassword">Parola</label>
              </div>

              <div class="checkbox mb-3">
                <!-- <label>
                    <input type="checkbox" value="remember-me" /> Beni Hatırla
                  </label> -->
                <p>
                  Zaten bir hesabın var mı?<a routerLink="/login">Giriş Yap</a>
                </p>
              </div>
              <button class="w-100 btn btn-lg btn-primary" (click)="register()" routerLink="/login">
                Kaydol
              </button>
              <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
            </form>
          </main>
        </body>
      </div>
    </div>
  </div>
</div>
