<footer class="py-5 text-white text-center">
  <div class="container">
    <small>
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      All rights reserved | This project was developed
      <i class="fa fa-heart-o" aria-hidden="true"></i> by
      <a
        href="https://www.linkedin.com/in/ahmet-hilmi-%C3%A7ilo%C4%9Flu-884012203/"
        target="_blank"
        >Ahmet Hilmi ÇİLOĞLU</a
      >
      <i class="fa fa-heart-o" aria-hidden="true"></i> &
      <a
        href="https://www.linkedin.com/in/sevde-sekman-09495119b/"
        target="_blank"
        >Fatma Sevde SEKMAN</a
      >
    </small>
  </div>
</footer>
